html {
    background-color: rgba(122, 191, 191, .5);
    
}
body{
    background-color: #f2f2f2;
    width: 414px;
    display: grid;
    grid-template-areas:"header header header" "main main main" "aside aside aside" "topnav topnav topnav";
}

h1{
    font-size: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 30px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3{
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav a{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav span{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

menu li{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;  
    font-size: 20px;
}

#social li{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer{
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, dd, li, nav, input{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

dt{
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}

/*--Start of header styles*/

header{
    text-align: center;
    padding-top: 10px;
    grid-area: header;
}

menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

menu li {
    position: relative;
    margin-top: 20px;
}

menu li a {
    color: #EB5428;
    text-decoration: none;
}

menu li a svg {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

main{
    grid-area: main;
}

main h2{
    text-align: center;
}

main img{
    height: auto;
    width: 414px;
}

.recipe-details li{
    text-align: left;
    list-style: circle #000000 4px solid;
}

menu p{
    padding: 5px;
}
aside {
    background-color: #7ABFBF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 414px;
    grid-area: aside;
}

aside h2 {
    text-align: center;
    margin: 0;
    width: 100%;
    padding-top: 10px;
}

aside .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

aside figure {
    display: flex;
    align-items: center;
    flex: 1;
}

aside figure img {
    margin-right: 20px;
    width: 150px;
}
aside figcaption {
    flex: 1;
}

aside svg{
    margin-top: 5px;
}

dd{
    margin-left: -5px;
}

#topnav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 414px;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    grid-area: topnav;
}

#topnav h2 {
    text-align: center;
    margin: 0;
    width: 100%;
}

#topnav .menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#topnav nav.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

#topnav nav.menu ul li {
    margin-right: 10px;
}

#topnav nav.menu ul li:last-child {
    margin-right: 0;
}

#topnav nav.menu ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

#topnav nav.menu ul li a img {
    width: 60px;
    margin-top: 5px;
}

#topnav .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#topnav .search h3 {
    margin: 0;
    font-size: 20px;
}

#topnav .search input[type="search"] {
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}

#topnav .search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 10px;
}

#topnav .search button svg {
    stroke: #EB5428;
} 

nav {
    grid-area: topnav;
    min-width: 414px;
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #bbb;
    position: fixed;
    top: 0;
    z-index: 5;
}

nav ul {
    grid-area: topnav;
    padding: 0;
    overflow: hidden;
    list-style: none;
    max-height: 0;
}

nav li img {
    display: none;
}

nav li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    bottom: 10px;
    left: 40px;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

nav span {
    display: grid;
    position: relative;
}

nav label svg {
    display: grid;
}

label span:before,
label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}

nav input {
    display: none;
}

nav input:checked~ul {
    max-height: 550px;
}

.social-media {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.social-media li {
    position: relative;
    margin-top: 20px;
    display: inline;
}

.social-media li a {
    color: #EB5428;
    text-decoration: none;
}

.social-media li a svg {
    position: absolute;
    top: -45px;
    left: 50%;
    transform: translateX(-50%);
}

footer h2,
footer h3 {
    display: none;
}
footer img{
    width: 350px;
    align-items: center;
}

footer{
    text-align: center;
}
@media screen and (min-width: 768px) {
    html {
        width: 768px;
    }

    body {
        width: 768px;
    }

    main img{
        height: auto;
        width: 768px;
    }

    #topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        width: 100%;
        max-width: 768px;
    }

    #topnav h2 {
        text-align: center;
        margin: 0;
        width: 100%;
    }

    #topnav .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #topnav nav.menu ul {
        display: flex;
        list-style-type: none;
        padding: 0;
    }

    #topnav nav.menu ul li {
        margin-right: 10px;
    }

    #topnav nav.menu ul li:last-child {
        margin-right: 0;
    }

    #topnav nav.menu ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;
    }

    #topnav nav.menu ul li a img {
        width: 60px;
        margin-top: 5px;
    }

    #topnav .search {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    #topnav .search h3 {
        margin: 0;
        font-size: 20px;
    }

    #topnav .search input[type="search"] {
        width: 70%;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        margin-top: 10px;
    }

    #topnav .search button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        margin-top: 10px;
    }

    #topnav .search button svg {
        stroke: #EB5428;
    }
}

@media screen and (min-width: 1280px){
    html{
        width: 1280px;
    }
    body{
        width: 1280px;
    }

    main img{
        width: 1280px;
        height: auto;
    }
    #topnav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            width: 100%;
            max-width: 1280px;
        }
    
        #topnav h2 {
            text-align: center;
            margin: 0;
            width: 100%;
        }
    
        #topnav .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    
        #topnav nav.menu ul {
            display: flex;
            list-style-type: none;
            padding: 0;
        }
    
        #topnav nav.menu ul li {
            margin-right: 10px;
        }
    
        #topnav nav.menu ul li:last-child {
            margin-right: 0;
        }
    
        #topnav nav.menu ul li a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-decoration: none;
            color: black;
        }
    
        #topnav nav.menu ul li a img {
            width: 60px;
            margin-top: 5px;
        }
    
        #topnav .search {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    
        #topnav .search h3 {
            margin: 0;
            font-size: 20px;
        }
    
        #topnav .search input[type="search"] {
            width: 70%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-top: 10px;
        }
    
        #topnav .search button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            outline: none;
            margin-top: 10px;
        }
    
        #topnav .search button svg {
            stroke: #EB5428;
        }
}
